<h2>Hours:</h2>
<mat-form-field class="full-width" appearance="fill">
  <mat-label>Sunday</mat-label>
  <input matInput><!--  value="Closed"-->
</mat-form-field>
<mat-form-field class="full-width" appearance="fill">
  <mat-label>Monday</mat-label>
  <input matInput><!--  value="8:00AM - 5:00PM"-->
</mat-form-field>
<mat-form-field class="full-width" appearance="fill">
  <mat-label>Tuesday</mat-label>
  <input matInput><!--  value="8:00AM - 5:00PM"-->
</mat-form-field>
<mat-form-field class="full-width" appearance="fill">
  <mat-label>Wednesday</mat-label>
  <input matInput><!--  value="8:00AM - 5:00PM"-->
</mat-form-field>
<mat-form-field class="full-width" appearance="fill">
  <mat-label>Thursday</mat-label>
  <input matInput><!--  value="8:00AM - 5:00PM"-->
</mat-form-field>
<mat-form-field class="full-width" appearance="fill">
  <mat-label>Friday</mat-label>
  <input matInput><!--  value="8:00AM - 5:00PM"-->
</mat-form-field>
<mat-form-field class="full-width" appearance="fill">
  <mat-label>Satusday</mat-label>
  <input matInput><!--  value="8:00AM - 5:00PM"-->
</mat-form-field>
