<mat-card class="login-form">
  <mat-card-header>
    <mat-card-title>Log in</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="full-width">
        <input matInput placeholder="Username" ngModel name="username" required>
        <mat-error>
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password" ngModel name="password" required>
        <mat-error>
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <button type="button" mat-raised-button class="form-button" color="primary" routerLink="/agency/list" *ngIf="!isAuthenticated">
        Login
      </button>
      <button type="button" mat-raised-button class="form-button" color="primary" *ngIf="isAuthenticated" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </form>
  </mat-card-content>
</mat-card>
