<div class="content">
  <h1>Update Agency Information</h1>
  <mat-divider></mat-divider>
  <form class="form-content" [formGroup]="parentForm">
    <p>
      <button type="button" mat-raised-button class="form-button" color="primary" (click)="saveData($event)">
        <mat-icon class="material-symbols-outlined icon-text-button">save</mat-icon>
        <span>SAVE</span>
      </button>
    </p>
    <mat-card class="form-card">
      <h2>General Information:</h2>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Id</mat-label>
        <input matInput formControlName="id" [readonly]='true'><!-- value="Salvation Army"-->
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Agency Name</mat-label>
        <input matInput formControlName="name"><!-- value="Salvation Army"-->
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <input matInput ngx-google-places-autocomplete [options]="options" (onAddressChange)="handleAddressChange($event)" formControlName="address" />
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput><!--  value="400 W. Colonial Drive, Orlando, FL 32804"-->
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="contactPhone"><!--  value="407.423.8581"-->
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Website</mat-label>
        <input matInput formControlName="website"><!--  value="https://salvationarmyflorida.org/orlando#assistance"-->
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Public Contact Email</mat-label>
        <input matInput formControlName="publicContactEmail"><!--  value="robin.smith@uss.salvationarmy.org"-->
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>City Contact Email</mat-label>
        <input matInput formControlName="cityContactEmail"><!--  value="robin.smith@uss.salvationarmy.org"-->
      </mat-form-field>
      <app-hours-form [hoursForm]="hours"></app-hours-form>
    </mat-card>
    <mat-card class="form-card">
      <mat-card-title>Services Provided</mat-card-title>
      <section class="checkbox-section">
        <div *ngFor="let service of servicesFormArray.controls; let i = index" formArrayName="services">
          <mat-checkbox [value]='serviceList[i].id'
            (change)="setServiceEnabled($event.source.value,$event.source.checked)"
            [formControlName]="serviceList[i].id">{{ serviceList[i].name }}</mat-checkbox>
        </div>
      </section>
    </mat-card>
    <div *ngFor="let service of servicesFormArray.controls; let i = index" class="service-form-array"
      formArrayName="servicesInfo">
      <app-services-form [serviceTitle]='serviceList[i].name' [cardId]='serviceList[i].id' [id]='serviceList[i].id'
        [formGroupName]="serviceList[i].id" [serviceForm]="getServiceForm(serviceList[i].id)"
        [hours]="getServiceHourForm(serviceList[i].id)" [showCard]="getServiceCheckboxValue(serviceList[i].id)">
      </app-services-form>
    </div>
  </form>
</div>
