.form-content {
  min-width: 150px;
  max-width: 1000px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.form-card {
  margin: 10px;
}
.form-button{
  margin: 10px;
}
.icon-text-button{
  margin-right: 10px;
}
