.form-content {
  width: 100%;
}

.full-width {
  width: 100%;
}
.form-card {
  max-width: 100%;
  margin-top: 10px;
  //margin: 2em auto;
}
.form-button{
  margin-top: 10px;
}
.icon-text-button{
  margin-right: 10px;
}
.form-h1{
  text-align: center;
}

.form-h2{
  text-align: center;
}

.content {
  margin: 10px
}
