<h2 mat-dialog-title>{{ data.header }}</h2>
<mat-dialog-content class="mat-typography">
<mat-icon class="material-symbols-outlined" *ngIf="!data.success">error</mat-icon>
<mat-icon class="material-symbols-outlined" *ngIf="data.success">check_circle</mat-icon>
<p *ngFor="let message of data.messages">{{ message }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" *ngIf="data.reject">{{ data.reject }}</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{ data.confirm }}</button>
</mat-dialog-actions>
